@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --task-background:#0a53be;
  --task-color:#ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.task-header, .task-create button{
  background: var(--task-background);
  color: var(--task-color);
}

.task-create{
  color:#0a0a0a;
  margin: 10px;
}

.task-create Select, .task-create button {
  margin-left: 10px;
}

